
html {
    
    font-family: "Open Sans";
    font-size: 12px;
    background: #FFFFFF;
}

body {
    
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ".  nav games   ." 
        ".  nav art     ."
        ".  nav three-d ."
        ".  nav aboutme ."
        ".  nav contact ."
        ".  nav footer  .";
    margin: 0px;
}

#nav {
    
    grid-area: nav;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "portrait"
        "list";
    width: 20%;
    position: fixed;
    margin-top: 3vh;
    #border-right: 1px black solid;
}

#nav ul {
    
    grid-area: list;
    
    text-align: right;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    list-style:  none;
}

#nav ul Li {
    
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#nav ul li a {

    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    color: black;
    text-decoration: none;
}

#nav #portraitContainer {
    
    grid: portrait;
    margin-right: 2vw;
    display: flex;
    justify-content: flex-end;
}

#nav ul img {
    
    display: none;
}

#nav #portraitContainer #portrait {
    
    width: 100px;
    height: auto;
}

.resImage {
    
    align-self: center;
    object-fit: contain;
}

.content {
    
    margin-left: 4vw;
    margin-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: justify;
    display: grid;
    grid-gap: 5px;
    border-bottom: 4px double black;
}

.content .shortDesc {
    
    width: 100%;
    text-align: left;
    font-size: 1.25em;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.content p {
    
    margin: auto;
}

.content h {
    
    margin-top: 0px;
    font-size: 2.5em;
}

.contentrow {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.contentcolumn {
    
    display: flex;
    flex-direction: column;
}

.link {
    
    color: #223344;
    text-decoration: underline;
}

#footer {
    
    margin-top: 2.5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    grid-area: footer;
}

@font-face {
    
    font-family: "Pixel Font";
    src: url("fonts/disposabledroid.ttf")
}

@font-face {
    
    font-family: "Open Sans";
    src: url("fonts/opensans.ttf")
}

@font-face {
    
    font-family: "Roboto Slab";
    src: url("fonts/robotoslab.ttf")
}