
html {
    
/*    font-family: "Open Sans";*/
    font-family: "Pixel Font";
    font-size: 16px;
    background: #e6eaf2;
}

body {
    
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 9fr 0.8fr;
    grid-template-rows: auto;
    grid-template-areas:
        ".  nav aboutme ."
        ".  nav games   ." 
        ".  nav art     ."
        ".  nav three-d ."
        ".  nav contact ."
        ".  nav footer  .";
    margin: 0px;
}

#nav {
    
    z-index: 2;
    grid-area: nav;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "portrait"
        "list";
    width: 20%;
    position: fixed;
    margin-top: 3vh;
    #border-right: 1px black solid;
}

#nav ul {
    
    grid-area: list;
    
    text-align: right;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    list-style:  none;
}

#nav ul Li {
    
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav ul li a {

    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.75em;
    color: black;
    text-decoration: none;
}

#nav #portraitContainer {
    
    grid: portrait;
    justify-self: right;
    display: flex;
    justify-content: flex-end;
}



#nav ul li a p {
    
    margin: 0px;
}

#nav ul li a img {

    display: none;
}

#nav #portraitContainer #portrait {
    
    width: 100px;
    height: auto;
}

.resImage {
    
    align-self: center;
    object-fit: contain;
}

#header {
    
    grid-area: header;
    
    display: none;
}

.content {
    
    margin-left: 4vw;
    margin-right: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: justify;
    display: grid;
    grid-gap: 5px;
    border-bottom: 4px double black;
}

.content .shortDesc {
    
    width: 100%;
    text-align: left;
    font-size: 1.25em;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.content p {
    
    margin: auto;
}

.content h {
    
    margin-top: 0px;
    font-size: 2.5em;
    font-weight: bold;
}

.contentrow {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.contentcolumn {
    
    display: flex;
    flex-direction: column;
}

.link {
    
    color: #223344;
    text-decoration: underline;
}

#aboutme {
    
    grid-area: aboutme;
    
    display: flex;
    flex-direction: column;
}

#aboutme #portrait {

    
}

#aboutme #desc {

    margin-right: 0px;
}

#aboutme h {
    
    padding-bottom: 0.75vh;
}

#aboutme #desc {
    
    grid-area: aboutdesc;
    
    font-size: 1.5em;
    margin-top: 10px;
    
    display: flex;
    align-content: center;
}

#aboutme #portrait {
    
    grid-area: aboutimg;
    
    width: 150px;
    
    margin: 10px;border-radius: 50%;
    border: 3px solid black;
    transition: 0.420s;
    
}

#aboutme #portrait:hover {
    
    transform: rotate(360deg);
}

#aboutme .dropDown {
    
    margin-bottom: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

#aboutme .dropDown ul {
    
    list-style: square;
    
    margin-top: 5px;
    margin-bottom: 0px;
    
    font-weight: normal;
    
    overflow-y: hidden;
    max-height: 0;
    
    transition-property: all;
    transition-duration: 0.5s;
    
    text-align: left;
    word-wrap: break-word;
}

#aboutme .dropDown:hover {
    
    background: #d5d9e1;
}

#aboutme .dropDown:hover ul {
    
    max-height: 100px;
}

#games {
    
    grid-area: games;
}

.gamePanel {
    
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: flex;
    flex-direction: row;
    text-align: left;
    transition: 0.25s;
}

.gamePanel:hover {
 
    color: #e6eaf2;
    background: #ff6666;
}

.gameInfo {
    
    margin-top: 1vw;
}

.gameName {
    
    width: 100%;
    grid-area: gamename;
    font-size: 1.5em;
    color: inherit;
    text-decoration: underline;
}

.gameDesc {
    
    padding-top: 1vh;
    margin-right: 10px;
    font-size: 1.25em;
    width: 100%;
    grid-area: gamedesc;
    text-align: justify;
}

.gameimg {
    
    width: 150px;
    height: 150px;
    margin-right: 10px;
    
    align-self: center;
    border: 4px solid #000000;
    border-radius: 10%;
}

.gamePanel:hover .gameimg {
    
    border: 4px solid #e6eaf2;
}

#art {
    
    grid-area: art;
    
    display: flex;
    flex-direction: column;
}

#artCompilation {
    
    text-align: center;
    
    align-self: center;
    
    display: grid;
    
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "pugly spider spider pizza pizza sushi"
        "ball spider spider pizza pizza capt";
    grid-gap: 10px;
}

.artSquare {
    
    background: #FEFEFF;
    position: relative;
    transition: 0.25s;
}

.artSquare p {
    
    font-size: 1.25em;
    display: none;
    position: absolute;
    width:100%;
    bottom: 5px;
}

.artSquare:hover {
    
    background: #EFEFFF;
}

.artSquare:hover p {
    
    display: block;
}

#artCompilation img {
    
    width: 100%;
    height: auto;
}

#pugly {
    
    grid-area: pugly;
}

#spider {
    
    grid-area: spider;
}

#ball {
    
    grid-area: ball;
}

#pizza {
    
    grid-area: pizza;
}

#sushi {
    
    grid-area: sushi;
}

#capt {
    
    grid-area: capt;
}

#contact {
    
    grid-area: contact;
    
    border: none;
}

#contact #desc {
    
    font-size: 1.5em;
}

#footer {
    
    margin-top: 2.5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    grid-area: footer;
}

@font-face {
    
    font-family: "Pixel Font";
    src: url("fonts/PixelOperator.ttf")
}

@font-face {
    
    font-family: "Open Sans";
    src: url("fonts/opensans.ttf")
}

@font-face {
    
    font-family: "Roboto Slab";
    src: url("fonts/robotoslab.ttf")
}


@media only screen and (max-width: 800px) {

    #artCompilation {
        
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "pugly spider spider"
            "ball spider spider"
            "pizza pizza sushi"
            "pizza pizza capt";
    }
}

@media only screen and (max-width: 690px) {
    
    body {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "aboutme"
            "games"
            "art"
            "three-d"
            "contact"
            "footer"
    }
    
    #nav {
        
        width: 100%;
        height: 50px;
        background: #112233;
        color: white;
        
        display: flex;
        padding: 0px;
        margin: 0px;
        
        bottom: 0px;
        
    }
    
    #nav #portraitContainer {
        
        display: none;
    }
    
    #nav ul {
        
        margin: 0px;
        padding: 0px;
        width: 100%;
        font-size: 0.5em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    #nav ul li {
        
        width: 100%;
        height: 30%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    #nav ul img {
        
        width: 40px;
        height: 40px;
    }
    
    #nav ul li a {

        margin-top: 0px;
        height: 100%;
        font-size: 2.5em;
        color: white;
        display: flex;
        align-items: center;
    }
    
    #nav ul li a img {
        
        display: block;
        height: 40px;
        width: auto;
    }
    
    #nav ul li p {
        
        display: none;
    }
    
    #header {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    
    #headerlogo {
        
        width: 100px;
        height: auto;
    }
    
    .content {
        
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    #gamebar {
        
        border-right: 1px solid white;
    }
    
    #artbar {
        
        border-left: 1px solid white;
    }
    
    #aboutbar {
        
        border-right: 1px solid white;
    }
    
    #contactbar {
        
        border-left: 1px solid white;
    }

    .content h {
        
        font-size: 1.75em;
    }
    
    #aboutme #portrait {
        
        align-self: center;
        width: 125px;
        border-radius: 50%;
    }
    
    .gameName {
        
        font-size: 1.125em;
    }
    
    .gameDesc {
        
        font-size: 1em;
        padding-bottom: 5px;
    }
    
    .gamePanel {
        
        display: flex;
        flex-direction: row;
        align-content: center;
        padding-right: 15px;
    }
    
    .gameimg {
        
        width: 100px;
        height: 100px;
        margin: 10px;
    }
    
    #footer {
        
        padding-bottom: 55px;
        
    }
}