#aboutme  {
    
    grid-area: aboutme;
    
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        ". ."
        "aboutdesc aboutimg"
        "aboutdesc aboutimg";
}

#aboutme h {
    
    padding-bottom: 0.5vh;
}

#aboutme #names p {
    
    margin-top: 10px;
    margin-bottom: 10px;
}

#aboutme #portrait {
    
    margin-left: 2vw;
}

#aboutme #desc {
    
    grid-area: aboutdesc;
    
    font-size: 1.5em;
}

#aboutme #portrait {
    
    grid-area: aboutimg;
    
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 5px solid black;
}