#art {
    
    grid-area: art;
    
    display: flex;
    flex-direction: column;
}

#artCompilation {
    
    text-align: center;
    
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "pugly spider spider"
        "ball spider spider"
        "pizza pizza sushi"
        "pizza pizza capt";
    grid-gap: 2.5vw;
}

.artSquare {
    
    background: #EEEEEE;
}

.artSquare:hover {
    
    background: #CCCCCC;
}

#artCompilation img {
    
    width: 100%;
    height: auto;
}

#pugly {
    
    grid-area: pugly;
}

#spider {
    
    grid-area: spider;
    padding: 6.9vw;
}

#ball {
    
    grid-area: ball;
    padding: 2.5vw;
}

#pizza {
    
    grid-area: pizza;
}

#sushi {
    
    grid-area: sushi;
}

#capt {
    
    grid-area: capt;
}